body {background-image: url(img/img3.jpg);}
}
.bordered {border: 2px solid rgb(5, 5, 5)}
span {
    position: relative;
    top: -20px;
    left:1100px ;
    right: px;
}
span1 {
    position: relative;
    top:-30px ;
    left: px ;
    right: px;
}
span2 {position: relative;
     top: ;
      left: ;
    right:75px ;}
span3 {
    position: relative;
    top: ;
    left: ;
    right: ;
}
span4 {
    position: relative;
    top: ;
    left: ;
    right: 383px;
}
span5 {
    position: relative;
    top: ;
    left:px ;
    right:170px ;
}
span6 {
    position: relative;
    left: -20px;
}
span7 {
    position: relative;
    left: 540px;
}
.helvetica {font-family: Helvetica; color: rgb(129, 27, 27)}
.courier-new {font-family: "Courier New";}
.px {font-size: 30px;}
.oblique {font-style: oblique;}
.w500 {font-weight: 600;}
.link {text-decoration: none;}

#slider {
    wigth: 384px;
    hight: 128px;
    border: 0px solid black; 
    margin: 50px auto;
 overflow: hidden;
}

#polosa {
    /*background: rgb(89, 192, 233);*/
    width: 896px;
    position: relative;
    right: 0;
    transition: all ease 1s;
}

#polosa img {
    float: right ;
}

#polosa::after {
    content: "";
    display: block;
    clear: both;
}
.header-bg {
    margin: 30px;
    position: relative;

}
.square-bg {
    min-height: 40px;
    width: 100px;
    background: rgb(78, 77, 77);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}